<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-10 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-10 col-lg-8 mx-auto my-5">
            <div class="card ">
              <div class="card-body">
                <h2 class="card-title text-center my-3">プロフィール編集</h2>
                <div class="row">
                  <div class="col">
                    <%= render "layouts/error_message", model: @user %>
                  </div>
                </div>
                <hr>
                <%= form_with model: @user, local: true do |f| %>
                  <div class="field form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "お名前", maxlength: "15" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-info"></i> </span>
                      </div>
                      <%= f.text_area :introduction, class: "form-control", rows: "5",  placeholder: "自己紹介", maxlength: "200" %>
                    </div>
                  </div>
                  <div class="field form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-file-image"></i> </span>
                      </div>
                      <%= f.attachment_field :icon_image, class: "form-control" %>
                    </div>
                  </div>
                  <div class="actions">
                    <%= f.submit "変更", class:"btn btn-success btn-lg btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>