<div class="container">
  <div class="row">
    <%= render "users/profile", user: @user %>
    <div class="col-md-6 col-lg-8 mx-auto">
      <h3>ユーザ</h3>
      <hr>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="text-center">
            <th class="col-1">ID</th>
            <th class="col-1"></th>
            <th class="col-3">名前</th>
            <th class="col-3">投稿数</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="text-center">
              <th class="table-active"><%= user.id %></th>
              <td class="p-0">
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :icon_image, fallback: "def_user.png", size: "80x80" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user), class: "text-dark" do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td><span class="badge bg-primary rounded-pill text-light"><%= user.gadgets.count %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>