<main>
  <%= render "users/profile", user: @user %>
  <div>
    <h2>ガジェット一覧</h2>
    <% @gadgets.each do |gadget| %>
      <p><%= gadget.title %></p>
      <p><%= gadget.body %></p>
      <p><%= attachment_image_tag gadget, :gadget_image, fallback: "def_gadget.jpg" ,size: "300x300" %></p>
      <%= link_to "詳細", gadget_path(gadget) %>
    <% end %>
  </div>
</main>