<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-5 mx-auto shadow-lg rounded px-0 my-5">
      <h2 class="text-center bg-light p-4 mb-0">新規投稿</h2>
      <div class="form-body p-4">
        <%= render "layouts/error_message", model: @gadget %>
        <%= form_with model: @gadget, local: true do |f| %>
          <div class="form-group">
            <%= f.attachment_field :gadget_image %>
          </div>
          <div class="field form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fab fa-goodreads"></i> </span>
              </div>
              <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "タイトル", maxlength: "20" %>
            </div>
          </div>
          <div class="field form-group">
            <div class="input-group">
              <%= f.text_area :body, class: "form-control", rows: "5", placeholder: "説明", maxlength: "400" %>
            </div>
          </div>
          <hr>
          <%= f.submit "投稿", class: "btn btn-info btn-block btn-lg " %>
        <% end %>
      </div>
    </div>
  </div>
</div>
